@model InventoryManagement.Models.CheckOutViewModel
@{
    ViewBag.Title = "ItemTypesSelect";
}

<h2>ItemTypesSelect</h2>
@using (Html.BeginForm("ItemTypesSubmit", "CheckOut", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => Model.SelectedBundleId)
    @Html.HiddenFor(model => model.SelectedSchoolId)
    <table>
        <tr>
            <td>
                Item Name
            </td>
            <td>
                Check Out
            </td>
        </tr>
        @for (int i = 0; i < Model.ItemTypesModel.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(model => Model.ItemTypesModel[i].ItemTypeId)
                    @Html.DisplayFor(model => Model.ItemTypesModel[i].ItemName)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.ItemTypesCheckboxes[i])
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Continue" class="btn btn-default" />
        </div>
    </div>
}
