@{
    ViewBag.Title = "Index";
}
<table class="table">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <tr>
        <td>
            @Html.ActionLink("View all items without a label", "NoLabel")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("View items missing an inventory location", "NoInventoryLocation")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("View items checked out", "ItemsOut")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("View items checked in and not returned", "NotReturned")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("View items pending approval", "ItemApproval")
        </td>
    </tr>
    
</table>
