@{
    ViewBag.Title = "Index";
}
<table class="table">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <tr>
        <td>
            @Html.ActionLink("Items Missing a Label", "NoLabel")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Items Missing an Inventory Location", "NoInventoryLocation")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Items Checked Out", "ItemsOut")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Items Pending Approval", "ItemApproval")
        </td>
    </tr>
</table>
