@model InventoryManagement.Models.ItemsNotReturnedViewModel
@{
    ViewBag.Title = "NotReturned";
}

<h4>Items to be returned</h4>
@if (Model.ItemsNotReturned.Count == 0)
{
    <h4>There are no waiting to be returned</h4>
    @Html.ActionLink("Back", "Index")
}
else
{
    using (Html.BeginForm("SubmitNotReturned", "ItemStatus", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        if (Request.Browser.IsMobileDevice)
        {
                <div class="row">
                    <div class="col-xs-2">
                        @Html.DisplayName("Name")
                    </div>
                    <div class="col-xs-2">
                        @Html.DisplayName("Label")
                    </div>
                    <div class="col-xs-2">
                        @Html.DisplayName("User")
                    </div>
                    <div class="col-xs-2">
                        @Html.DisplayName("Lost")
                    </div>
                    <div class="col-xs-2">
                        @Html.DisplayName("Return")
                    </div>
                </div>
                <hr />

            for (int i = 0; i < Model.ItemsNotReturned.Count; i++)
            {
                    @Html.HiddenFor(model => model.ItemsNotReturned[i].ItemId)
                    <div class="row">
                        <div class="col-xs-2">
                            @Html.DisplayFor(model => model.ItemsNotReturned[i].ItemType.ItemName)
                        </div>
                        <div class="col-xs-2">
                            @Html.DisplayFor(model => model.ItemsNotReturned[i].Label.LabelName)
                        </div>
                        <div class="col-xs-2">
                            @Html.DisplayFor(model => model.ItemsNotReturned[i].CheckedInById)
                        </div>
                        <div class="col-xs-2">
                            @Html.CheckBoxFor(model => model.ItemsLost[i])
                        </div>
                        <div class="col-xs-2">
                            @Html.CheckBoxFor(model => model.ItemReturn[i])
                        </div>
                    </div>
                    <hr />
            }
        }
        else
        {
            <div class="row">
                <div class="col-sm-1">
                    @Html.DisplayName("Name")
                </div>
                <div class="col-sm-1">
                    @Html.DisplayName("Label")
                </div>
                <div class="col-sm-1">
                    @Html.DisplayName("Location")
                </div>
                <div class="col-sm-1">
                    @Html.DisplayName("Out By")
                </div>
                <div class="col-sm-1">
                    @Html.DisplayName("In By")
                </div>
                <div class="col-sm-1">
                    @Html.DisplayName("Lost")
                </div>
                <div class="col-sm-1">
                    @Html.DisplayName("Return")
                </div>
            </div>
            <hr />

            for (int i = 0; i < Model.ItemsNotReturned.Count; i++)
            {
                @Html.HiddenFor(model => model.ItemsNotReturned[i].ItemId)
                <div class="row">
                    <div class="col-sm-1">
                        @Html.DisplayFor(model => model.ItemsNotReturned[i].ItemType.ItemName)
                    </div>
                    <div class="col-sm-1">
                        @Html.DisplayFor(model => model.ItemsNotReturned[i].Label.LabelName)
                    </div>
                    <div class="col-sm-1">
                        @Html.DisplayFor(model => model.ItemsNotReturned[i].InventoryLocation.InventoryLocationName)
                    </div>
                    <div class="col-sm-1">
                        @Html.DisplayFor(model => model.ItemsNotReturned[i].CheckedOutById)
                    </div>
                    <div class="col-sm-1">
                        @Html.DisplayFor(model => model.ItemsNotReturned[i].CheckedInById)
                    </div>
                    <div class="col-sm-1">
                        @Html.CheckBoxFor(model => model.ItemsLost[i])
                    </div>
                    <div class="col-sm-1">
                        @Html.CheckBoxFor(model => model.ItemReturn[i])
                    </div>
                </div>
                <hr />
            }
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update Selected" class="btn btn-default" />
            </div>
        </div>
    }
}

