@model InventoryManagement.Models.CheckInItemConfirmModel
@{
    ViewBag.Title = "Confirm";
}

<h4>Confirm</h4>

@using (Html.BeginForm("CheckInItems", "CheckIn", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SelectedSchoolId)
    if (Request.Browser.IsMobileDevice)
    {
        <div class="row">
            <div class="col-xs-4">
                @Html.DisplayName("Item Name")
            </div>
            <div class="col-xs-4">
                @Html.DisplayName("Label")
            </div>
        </div>
        <hr />
        for (int i = 0; i < Model.ItemDisplayLabels.Count; i++)
        {
            <div class="row">
                <div class="col-xs-4">
                    @Html.DisplayFor(model => model.ItemDisplayString[i])
                </div>
                <div class="col-xs-4">
                    @Html.DisplayFor(model => model.ItemDisplayLabels[i])
                </div>
            </div>
            <hr />
        }
    }
    else
    {
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayName("Item Name")
            </div>
            <div class="col-sm-4">
                @Html.DisplayName("Label")
            </div>
        </div>
        for (int i = 0; i < Model.ItemDisplayLabels.Count; i++)
        {
            <div class="row">
                <div class="col-sm-2">
                    @Html.DisplayFor(model => model.ItemDisplayString[i])
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.ItemDisplayLabels[i])
                </div>
            </div>
        }
    }

    for (int i = 0; i < Model.ItemsToReturn.Count; i++)
    {
        @Html.HiddenFor(model => model.ItemsToReturn[i].ItemId)
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Check In" class="btn btn-default" />
        </div>
    </div>
}

