@*model IEnumerable<InventoryManagement.Database.ItemTypes>*@
@model InventoryManagement.Models.ItemTypesIndexViewModel

@{
    ViewBag.Title = "Item Management";
}

<h4>Item Management</h4>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Manage Bundles", "CreatePackages")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemTypesModel[0].ItemName)
        </th>
        <th>
            @Html.DisplayName("Quantity")
        </th>
    </tr>

@for (int i = 0; i < Model.ItemTypesModel.Count; i++)
{
    <tr>
        <td>
            @Html.DisplayFor(model => model.ItemTypesModel[i].ItemName)
        </td>
        <td>
            @Html.DisplayFor(model => model.ItemQuantities[i])
        </td>
        <td>
            @Html.ActionLink("Add", "Add", new { id = Model.ItemTypesModel[i].ItemTypeId }) |
            @Html.ActionLink("Edit", "Edit", new { id = Model.ItemTypesModel[i].ItemTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ItemTypesModel[i].ItemTypeId })
        </td>
    </tr>
}
</table>
