@model InventoryManagement.Models.InventoryReturnIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Return these items to their inventory locations</h2>
@using (Html.BeginForm("ReturnItems", "InventoryReturn", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (Model.ItemsToReturn.Count == 0)
    {
        @Html.DisplayName("You do not have any Items to return at the moment")
    }
    else
    {
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayName("Item Name")
            </div>
            <div class="col-sm-2">
                @Html.DisplayName("Inventory Location")
            </div>
            <div class="col-sm-2">
                @Html.DisplayName("Label")
            </div>
            <div class="col-sm-2">
                @Html.DisplayName("Returning")
            </div>
        </div>

        for (int i = 0; i < Model.ItemsToReturn.Count; i++)
        {
            @Html.HiddenFor(model => model.ItemsToReturn[i].ItemId)
        }
        for (int i = 0; i < Model.ItemDisplayString.Count; i++)
        {
            @Html.HiddenFor(model => model.ItemReturnQuantities[i])
            <div class="row">
                <div class="col-sm-2">
                    @Html.DisplayFor(model => model.ItemDisplayString[i])
                </div>
                <div class="col-sm-2">
                    @Html.DisplayFor(model => model.ItemDisplayInventoryLocation[i])
                </div>
                <div class="col-sm-2">
                    @Html.DisplayFor(model => model.ItemDisplayLabelString[i])
                </div>
                <div class="col-sm-2">
                    @Html.CheckBoxFor(model => model.ItemReturnCheckBoxes[i])
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Return Items" class="btn btn-default" />
            </div>
        </div>
    }

}