@model InventoryManagement.Models.BundlesDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h4>Bundle Details</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BundleModel.BundleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BundleModel.BundleName)
        </dd>
        <dt>
            @Html.DisplayName("Item")
        </dt>

        <dd>
            @Html.DisplayName("Label")
        </dd>
        @for (int i = 0; i < Model.ItemDisplayString.Count; i++)
        {
            <dt>
                @Html.DisplayFor(model => model.ItemDisplayString[i])
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemDisplayLabels[i])
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
